<% unless comment.private? %>
  <div class="comment-container">
    <span class="badge text-bg-primary"
          style="margin-right: 0.4rem;">
      <%= comment.commenter %>
    </span>
    <span class="fst-italic">
      <%= comment.body %>
    </span>
    <span style="float: right">
      <%= link_to "[ del ]", 
                   destroy_comment_path( comment.article, comment ),
                   class: "delete-comment",
                   data: {
                       turbo_method: :delete,
                       turbo_confirm: "Are you sure?",
                   }%>
    </span>
  </div>
<% end %>
