/*
 * This is a manifest file that'll be compiled into 
 * application.css, which will include all the files listed 
 * below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, 
 * lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here 
 * using a relative path.
 *
 * You're free to add application-wide styles to this file and 
 * they'll appear at the bottom of the compiled file so the 
 * styles you add here take precedence over styles defined in 
 * any other CSS files in this directory. Styles in this file 
 * should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
    text-decoration: none;
}
main {
    padding-top: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
}
main > h1 {
    font-style: italic;
    color: #a1b5ff;
}
/* Block brand */
div.container-fluid > a {
    font-style: italic;
    color: black;
}
/* Home link */
ul.navbar-nav > li:first-child {
    border: 1px solid #7777ff;
    border-radius: 10px;
    background: #444444;
}
li.new-article > a {
    color: #88ff88;
}
.search-button {
    background: #552244;
}
/* show article */
main > .card {
    width: 60%;
    margin: 2rem;
}
/* article body */
.article {
    background: hsl( 0, 0%, 10% );
    border-bottom: var( --bs-card-border-width ) 
                   solid 
                   var( --bs-card-border-color );
}
/* comment section */
.comment-container {
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
}

.articles {
    margin-left: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: start
}
.articles > .list-group {
    width: 100%;
}
.velcome {
    color: hsla( 210, 50%, 80%, .9 );
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

/**/
.form-container {
    width: 60%;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .display-2 {
      font-size: 2rem;
  }
  /* Home link */
  ul.navbar-nav > li:first-child {
      width: 6rem;
      display: flex;
      justify-content: center;
  }
  /* show article */
  main > .card {
    width: 100%;
    margin: 0rem;
  }
  .form-container {
      width: 90%;
      margin-left: 1rem;
  }
}
